.neonText {
  color: #eeeeee;
  text-shadow:
    0 0 7px #d8b4fe,
    0 0 10px #d8b4fe,
    0 0 21px #d8b4fe,
    0 0 42px #d8b4fe,
    0 0 82px #c084fc,
    0 0 92px #c084fc,
    0 0 102px #c084fc;
}

.neonEmoji {
  color: #e5ceff;
  text-shadow:
    0 0px 21px #e5ceff,
    0 0 36px #c084fc,
    0 0 42px #c084fc,
    0 0 82px #c084fc,
    0 0 92px #c084fc;
  padding: -10px;
}