.neonTitle {
  color: #eeeeee;
  text-shadow:
    0 0 6px #8000ff,
    0 0 16px #7614d7,  
    0 0 32px #731cca,
    0 0 72px #731cca,
    0 0 96px #3b1e58,
    0 0 108px #191121;
}
.neonText {
  color: #ffbf00;
  text-shadow:
    0 0 1px #ffbf00,
    0 0 12px #fff1c7;
}